body {
    margin: 0;
    padding: 0;
    background-color: #292929;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*-----HEADER-----*/
a {
    text-decoration: none;
}
header {
    width: 89%;
    height: 159px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header ul {
    list-style-type: none;
    display: flex;
}
header li {
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 22px;
    height: 25px;
    left: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: #BD4242;
    margin: 75px 9px 39px;
    padding: 10px 15px;
}
#menuResponsive {
    display: none;
}

/*-----RESPONSIVE-----*/

@media all and (max-width:428px) {
    header {
        width: 80%;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 137px;
        margin: 0;
    }
    header ul {
        display: none;
    }
    #logo {
        width: 196px;
    }
    #menuResponsive {
        display: block;
    }
}